<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="danger"></ion-menu-button>
      </ion-buttons>
      <ion-title color="danger">
        Nos Evénements
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
          <img src="/assets/icon/femme.PNG" alt="" widh="350" height="350"/>
          <ion-card-header>
            <ion-card-title color="danger">TOTAL Tunisie Fete la Femme</ion-card-title>
            <ion-card-subtitle>Bonne fete a toutes les femmes!</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="welcome-card">
            <img src="/assets/icon/bhar.PNG" alt="" widh="350" height="350"/>
            <ion-card-header>
              <ion-card-title color="danger">La Saison Bleue: les Render-Vous de la Mer du 05 aout au 11 aout</ion-card-title>
              <ion-card-subtitle>Lancement de la campagne de sensibilisation de la saison bleue 2019</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card class="welcome-card">
              <img src="/assets/icon/afrique.PNG" alt="" widh="350" height="350"/>
              <ion-card-header>
                <ion-card-title color="danger">Coupe D'frique des Nation TOTAL 2019</ion-card-title>
                <ion-card-subtitle>Venez tous célébrer la passion du foot!</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <img src="/assets/icon/horizontal.PNG" alt="" height="35" />
    </ion-toolbar>
  </ion-footer>