<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">
      Jeux & Divertissement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/icon/coloriage.PNG" alt="" width="400" height="400" />
        <ion-card-header>
          <ion-card-title color="danger">Coloriage</ion-card-title>
          <div padding>
            <ion-button size="large" expand="block" >Jouer</ion-button>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card class="welcome-card">
          <img src="/assets/icon/puzzle.PNG" alt="" width="400" height="400" />
          <ion-card-header>
            <ion-card-title color="danger">Puzzle</ion-card-title>
            <div padding>
              <ion-button size="large" expand="block" >Jouer</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <img src="/assets/icon/horizontal.PNG" alt="" height="35" />
  </ion-toolbar>
</ion-footer>