<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Prise de RDV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon/quartz.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle><a href='/maintenance'>Maintenance Voiture</a></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/icon/wash.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle><a href='/wash'>Lavage Voiture</a></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <img src="/assets/icon/horizontal.PNG" alt="" height="35"/>
  </ion-toolbar>
</ion-footer>