<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="danger"></ion-menu-button>
      </ion-buttons>
      <ion-title color="danger">
        Espace Post
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
          <img src="/assets/icon/post.PNG" alt="" height="500" width="500" />
        </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <img src="/assets/icon/horizontal.PNG" alt="" height="35" />
    </ion-toolbar>
  </ion-footer>