<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/icon/welcome.jpg" alt="" />
      <ion-card-header>
        <ion-card-title color="danger">Welcome to Total Community App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Filiale du groupe pétrolier Total, Total Tunisie compte 300 collaborateurs et génère 4000 emplois indirects ; ses activités sont réparties sur 8 sites industriels et  plus de 160 stations-service dédiées à la distribution de carburants.
           Présent en Tunisie depuis plus de 70 ans, Total continue de développer ses activités afin de confirmer sa présence dans les domaines des Lubrifiants & Gaz.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <img src="/assets/icon/horizontal.PNG" alt="" height="35"/>
  </ion-toolbar>
</ion-footer>